#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 10px;
    display: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 24px;
  }